<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/show-contacts.css">
    <link rel="stylesheet" href="/css/add-contacts.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="main">
        <div class="main__header"><strong>rm-phonebook</strong></div>
        <div class="grid form-outer">
            <% if(errorMessage) { %>
                <div class="user-message user-message--error"> <%= errorMessage %> </div>
            <% } %>
            <form class="add-contact-form" action="add-contact" method="POST">
                <h2>Add Contact</h2><hr>
                <div class="form-control">
                    <input class="input" type="text" name="name" id="name" placeholder="Name" required>
                </div>
                <div class="form-control">
                    <input class="input" type="date" name="dob" id="dob" placeholder="DOB">
                </div>
                <div class="form-control" id="dynamicTel">
                    <div class="telNmail">
                        <input class="input" type="tel" name="tel[]" placeholder="Mobile Number" required>
                        <span class="plus-icon" onclick="addTelField('dynamicTel')"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="form-control" id="dynamicEmail">
                    <div class="telNmail">
                        <input class="input" type="email" name="email[]" placeholder="Email" required>
                        <span class="plus-icon" onclick="addEmailField('dynamicEmail')"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></span>
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                <button class="btn" type="submit">Save</button>
            </form>
        </div>
    </main>
    <script src="/js/add-field.js"></script>
<%- include('../includes/end.ejs') %>